:root {
    --header-heigth: 100px;
    --header-bg-color: rgb(6 19 31);
    --main-bg-color: rgb(29 45 60);
    --card-bg-color: rgb(17 32 48);
}

/* APP */
#app {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* HEADER */
header {
    height: var(--header-heigth);
    background-color: var(--header-bg-color);
}
.logo {
    width: calc(var(--header-heigth) - 20px);
}

/* MAIN */
main {
    background-color: var(--main-bg-color);
    height: calc(100% - var(--header-heigth));
    overflow: auto;
}

/* Card */
.my-card {
    background-color: var(--card-bg-color);
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    padding: .2rem 0;
}

/* Info Film */
.info-film {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 32, 49, 0.9);
}

.info-card {
    color: white;
    text-align: center;
}

.info-card img {
    width: 350px;
}

.close-info {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 10px;
}

.close-info:hover {
    color: white;
}